.navbar-default{
	background-color: #F3F3F3;
}

.post-box{
	background-color: #F3F3F3;
	padding: 20px 30px;
	margin: 30px 0;
	border-radius: 10px;
}



.bubble {
	position: relative;
	background: #FFFFCC;
	border: 1px solid #FFCC00;
    min-width: 100px;
    padding:10px;
    font-family:arial;
    margin:0 auto;
    font-size:14px;
    border-radius:6px;
    float: left
    
}
.bubble:after,
.bubble:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble:after {
	border-color: rgba(255, 255, 204, 0);
	border-right-color: #FFFFCC;
	border-width: 15px;
	margin-top: -15px;
}
.bubble:before {
	border-color: rgba(255, 204, 0, 0);
	border-right-color: #FFCC00;
	border-width: 16px;
	margin-top: -16px;
}